@use "../../assets/global" as *;
@use "../../assets/mixin" as *;
.button {
  width: 181px;
  height: 48px;
  // border: 1px solid red;
  background-color: #000;
  @include flex;
  .textButton {
    width: 78%;
    height: 100%;
    @include flex;
    P {
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      letter-spacing: 1%;
      text-align: center;
    }
  }
  .arrow {
    width: 20%;
    height: 87%;
    background-color: #fff;
    @include flex;
  }
}
