@use "../../assets/global" as *;
@use "../../assets/mixin" as *;

footer {
  width: 100%;
  height: 767px;
  border: 1px solid red;
  .supportContainer {
    width: 100%;
    height: 224px;
    border: 1px solid red;
    .support {
      width: 376px;
      height: 160px;
      border: 1px solid red;
      @include flex(
        $direction: column,
        $justify: space-between,
        $align: flex-start
      );
      .sup {
        font-size: 40px;
        font-weight: 600;
        color: #000;
        letter-spacing: -2%;
      }
    }
  }
}
